# Week 3 Lecture 
During this week, you will learn more about lists, list comprehensions,  and dictionaries.  The first thing to discuss is the length of a list.  
```
L1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
len(L1)
```
### Run the code

In [1]:
L1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
len(L1)

10

# in and not in Operators for List
You many want know if an element is in the list you can do this by using the in operator.
```
my_names = ['nancy', 'tina', 'evenlyn', 'ashley']
'tina' in my_names  # if the name is in the list it will result in True if not False
```

In [2]:
my_names = ['nancy', 'tina', 'evenlyn', 'ashley']
'tina' in my_names  # if the name is in the list it will result in True if not False

True

In [3]:
'joellen' in my_names

False

# Multiple Assignment Statements
### You can use a list and assign it to multiple variables.
```
L4 = [10, 'fred', 450.25]
size, name, price = L4

print ('size =',size)
print('name =', name)
print('price =', price)
```

In [5]:
L4 = [10, 'fred', 450.25]
size, name, price = L4

print ('size =',size)
print('name =', name)
print('price =', price)

size = 10
name = fred
price = 450.25

# List Item Enumeration

### Instead of range, you can use the enumerate (list).  This will allow you to use an index from 0 to the length of the list - 1, as well as the elements in the list.
```
supplies = ['pens', 'staplers', 'famethrowers', 'binders']
for index, item in enumerate(supplies):
    print('Index ' + str(index) + ' in supplies is: ' + item)
```
### Run the code.

In [6]:
supplies = ['pens', 'staplers', 'famethrowers', 'binders']
for index, item in enumerate(supplies):
    print('Index ' + str(index) + ' in supplies is: ' + item)

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: famethrowers
Index 3 in supplies is: binders

# Random selection of list values
### You may want to select a random element from the list.  To this, you would use the method random.choice.
```
import random
people = ['Alice', 'Bob', 'Carol', 'David']
rand_people = random.choice(people)
print(rand_people)
```
### Run the code.

In [8]:
import random
people = ['Alice', 'Bob', 'Carol', 'David']
rand_people = random.choice(people)
print(rand_people)

Alice

# Shuffle the list
### You may want to shuffle the list into a random order similar to shuffling cards.  You would use the method random.shuffle to do this.

```
import random
print(people)
random.shuffle(people)
print('new order > ', people)
````
### Run the code.

In [9]:
import random
print(people)
random.shuffle(people)
print('new order > ', people)

['Alice', 'Bob', 'Carol', 'David']
new order >  ['Bob', 'David', 'Carol', 'Alice']

# Augmented Assignment Operators
operators can apply to list.  
| AUGMENTED ASSIGNMENT STATEMENT | EQUIVALENT ASSIGNMENT STATEMENT |
|--------------------------------|---------------------------------|
| spam += 1                      | spam = spam + 1                 |
| spam -=1                       | spam = spam - 1                 |
| spam *= 1                      | spam = spam * 1                 |
| spam /=1                       | spam = spam/1                   |
| spam %= 1                      | spam = spam % 1                 |

In [17]:
# String concatenation shortcut
spam = 'Hello, '
spam += 'world!'
spam

'Hello, world!'

In [16]:
# String replication shortcut
spam = 'Hello, '
spam *= 3
spam

'Hello, Hello, Hello, '

In [15]:
# Numeric subtraction shortcut
x_value = 56
x_value -= 2
x_value

54

In [13]:
# Numeric division shortcut
x_value = 67
x_value /= 3
x_value

22.333333333333332

In [12]:
# remainder of 56/3 shortcut
x_value = 56
x_value %= 3
x_value

2

In [11]:
# List replication shortcut
bacon = ['new']
bacon *= 3
bacon

['new', 'new', 'new']

# Method to find the location of the element in the list.
### A function is called by a value.
```
spam = ['hello', 'hi', 'howdy', 'heyas']
spam.index('hi')
```
### Run the code.

In [18]:
spam = ['hello', 'hi', 'howdy', 'heyas']
spam.index('hi')

1

In [19]:
spam.index('jo')

ValueError: 'jo' is not in list

# Adding Values
### To add an item to a list, use append or insert.  Append adds to the end of the list.  The insert method lets you specify where to add the value.
```
spam.append('hey')
spam
spam.insert(2, 'Hola')
spam
```
### Run the code.

In [20]:
spam = ['hello', 'hi', 'howdy', 'heyas']
spam.append('hey')
spam
spam.insert(2, 'Hola')
spam

['hello', 'hi', 'Hola', 'howdy', 'heyas', 'hey']

# Removing Values
### Remove elements from the list by using the remove method.
```
spam.remove('Hola')
spam
```
### Run the code.

In [21]:
spam.remove('Hola')
spam

['hello', 'hi', 'howdy', 'heyas', 'hey']

# List Comprehensions for-loops in one statement
### The syntax is newlist = [expression for item in iterable if condition == True]
```
spam = ['hello', 'hi', 'howdy', 'heyas']
spam_1 = [x for x in spam if 'o' in spam]
```
### Run the code.

In [22]:
spam = ['hello', 'hi', 'howdy', 'heyas']
spam_1 = [x for x in spam if "e" in x]  
spam_1

['hello', 'heyas']

In [23]:
l1 = [ 1, 2, 3, 4, 5, 6]
m1 = [ x**2 for x in l1]
m1

[1, 4, 9, 16, 25, 36]

In [24]:
n1 = [ x for x in m1 if x % 2 == 0]

# List Comprehensions with if-else statement
Sometimes you will need to perform an if-else statement.

```
a = [1, 2, 3, 4, 5] 
# Add 'Even' for even numbers, otherwise 'Odd'
result = ['Even' if n % 2 == 0 else 'Odd' for n in a]  
print(result)
```
### Run the code.

In [26]:
a = [1, 2, 3, 4, 5] 
# Add 'Even' for even numbers, otherwise 'Odd'
result = ['Even' if n % 2 == 0 else 'Odd' for n in a]  
print(result)

['Odd', 'Even', 'Odd', 'Even', 'Odd']

# Nested if-else in List Comprehension
```
a = [1, 2, 3, 4, 5]  

# Categorize numbers based on divisibility
result = ['Divisible by 2' if n % 2 == 0 else 'Divisible by 3' if n % 3 == 0 else 'Other' for n in a]  
print(result)
```

### This list comprehension is equivalent to
```
a = [1, 2, 3, 4, 5]  
result=[]
for n in a:
    if n % 2 == 0:
        result.append('Divisible by 2')
    elif n % 3 == 0:
        result.append('Divisible by 3')
    else:
        result.append('Other')

result

```
### Run the code.

In [28]:
a = [1, 2, 3, 4, 5]  

# Categorize numbers based on divisibility
result = ['Divisible by 2' if n % 2 == 0 else 'Divisible by 3' if n % 3 == 0 else 'Other' for n in a]  
print(result)

['Other', 'Divisible by 2', 'Divisible by 3', 'Divisible by 2', 'Other']

In [29]:
a = [1, 2, 3, 4, 5]  
result=[]
for n in a:
    if n % 2 == 0:
        result.append('Divisible by 2')
    elif n % 3 == 0:
        result.append('Divisible by 3')
    else:
        result.append('Other')

result

['Other', 'Divisible by 2', 'Divisible by 3', 'Divisible by 2', 'Other']

# Tuple
A tuple is like a point enclosed in parentheses.  You can access elements in the tuple similarly to a list.  However, tuples are immutable, meaning you cannot change them.

```
a_tuple = ('Elivis', 'Aaron', 'Presley')
a_tuple[0]
```
### Run the code

In [48]:
a_tuple = ('Elivis', 'Aaron', 'Presley')
a_tuple[0]

'Elivis'

In [50]:
a_tuple[0: 3]

('Elivis', 'Aaron', 'Presley')

In [51]:
a_tuple[-1]

'Presley'

In [52]:
# assigning multiple variable using tuple
first, middle, last = a_tuple

In [53]:
print('first name: ', first)
print('middle name: ', middle)
print('last name: ', last)

first name:  Elivis
middle name:  Aaron
last name:  Presley

# Set
A sequence of items like a list but a sequence within curly brackets.  Only unique values care listed in a set.

```
university = {"Stanford", "USC", "USC", "UCLA", "Berkeley", "UCLA","Stanford","UCLA"}
university
```
### Run the code.

In [54]:
university = {"Stanford", "USC", "USC", "UCLA", "Berkeley", "UCLA","Stanford","UCLA"}
university

{'Berkeley', 'Stanford', 'UCLA', 'USC'}

# Convert from the a list to a set

```
a_list = ["DS", "ML", "DS", "AI", "DS", "ML", "ML", "AI"]
a_set = set(a_list)
a_set
```
### Run code.

In [57]:
a_list = ["DS", "ML", "DS", "AI", "DS", "ML", "ML", "AI"]
a_set = set(a_list)
a_set

{'AI', 'DS', 'ML'}

# Convert a set to a list

```
new_set = list(a_set)
new_set
```
### Run the code.

In [58]:
new_set = list(a_set)
new_set

['AI', 'DS', 'ML']

# Dictionaries
### Another data type in Python is dictionaries.  Dictionaries are index by key.  Dictionaries are enclosed in curly brackets.

```
# dict = {'key1' : values(string or numeric), 'key2' : values(string or numeric),...}
my_cat = {'size' : 'fat', 'color' : 'gray', 'age' : 17}
my_cat['size']
```
### Run the code.

In [31]:
my_cat = {'size' : 'fat', 'color' : 'gray', 'age' : 17}
my_cat['size']

'fat'

In [59]:
my_cat['color']

'gray'

# Equal Dictionary
### Two dictionaries are equal if they have the same keys and elements within the keys.  It doesn't matter if they are in different order

```
eggs = {'name': 'Zophie', 'species': 'cat', 'age': '8'}
ham = {'species': 'cat', 'age': '8', 'name': 'Zophie'}
eggs == ham
```
### Run the code.

In [33]:
eggs = {'name': 'Zophie', 'species': 'cat', 'age': '8'}
ham = {'species': 'cat', 'age': '8', 'name': 'Zophie'}
eggs == ham

True

# Returning Keys and Values
Three dictionary methods will return list-like values of the dictionary's keys, values, or both keys and values: keys(), values(), and items().

```
# values
spam = {'color' : 'red', 'age' : 42}
for v in spam.values():
    print(v)

```

```
for k in spam.keys():
    print(k)
```

```
for i in spam.items():
    print(i)
```

### Run the code.

In [34]:
spam = {'color' : 'red', 'age' : 42}
for v in spam.values():
    print(v)

red
42

In [60]:
'red' in spam.values()   # red is a value

True

In [62]:
'color' in spam   # color is a key

True

In [35]:
for k in spam.keys():
    print(k)

color
age

In [36]:
for i in spam.items():
    print(i)

('color', 'red')
('age', 42)

# in as a function with List, tuples, and dictionaries
To determine if an item is included in a list, tuple, or dictionary.

```
some_list = ['Corey Bell', 'Hailey Fisher', 'Phil Wells']
some_tupe = ('Corey Bell', 'Hailey Fisher', 'Phil Wells')
some_dict = {'Corey Bell' : 'Teacher',
             'Hailey Fisher' : 'Data Analyst',
             'Phil Wells' : 'Business Owner'}

# Included in list
"Hailey Fisher" in some_list

# Included in tuple
"Hailey Fisher" not in some_tuple

# Checks the keys
"Hailey Fisher" in some_dict

# Checks the values
"Data Analyst" in some_dict.values()

# Checks the values
"Web Developer" in some_dict.values()
```
#### Run the code.

In [68]:
some_list = ['Corey Bell', 'Hailey Fisher', 'Phil Wells']
some_tuple = ('Corey Bell', 'Hailey Fisher', 'Phil Wells')
some_dict = {'Corey Bell' : 'Teacher',
             'Hailey Fisher' : 'Data Analyst',
             'Phil Wells' : 'Business Owner'}

In [66]:
# Included in list
"Hailey Fisher" in some_list

True

In [71]:
# Included in tuple
"Hailey Fisher" in some_tuple

True

In [69]:
# Included in tuple
"Hailey Fisher" not in some_tuple

False

In [72]:
# Checks the values
"Data Analyst" in some_dict.values()

True

In [73]:
# Checks the values
"Web Developer" in some_dict.values()

False

# Keys as a list
To get the keys as list use the following commands.
```
list(spam.keys())
```
### Run to code.

In [39]:
list(spam.keys())

['color', 'age']

# Dictionaries in a for-loop
### To access the the key and elements of a dictionary in a for-loop use the following command.
```
spam = {'color' : 'red', 'age' : 42}
for k, v in spam.items():
    print('Key: ' + str(k) + ' Va;ie: ' + str(v))
```

In [41]:
spam = {'color' : 'red', 'age' : 42}
for k, v in spam.items():
    print('Key: ' + str(k) + ' Value: ' + str(v))

Key: color Value: red
Key: age Value: 42

# Setdefault method
### If you want to set a default for a key, use this method once.  Once you set it, you cannot set the default again.

```
message = 'It was a bright cold day in April, and the clocks were striking thirteen.'
count = {}

for character in message:
    count.setdefault(character, 0)
    count[character] = count[character] + 1

print(count)
```
### Run the code.

In [42]:
message = 'It was a bright cold day in April, and the clocks were striking thirteen.'
count = {}

for character in message:
    count.setdefault(character, 0)
    count[character] = count[character] + 1

print(count)

{'I': 1, 't': 6, ' ': 13, 'w': 2, 'a': 4, 's': 3, 'b': 1, 'r': 5, 'i': 6, 'g': 2, 'h': 3, 'c': 3, 'o': 2, 'l': 3, 'd': 3, 'y': 1, 'n': 4, 'A': 1, 'p': 1, ',': 1, 'e': 5, 'k': 2, '.': 1}

In [44]:
LN = ['Noah', 'Liam', 'Olivia', 'Emma', 'Oliver', 'Amelia', 'Elijah']
age =[ 23, 34, 19, 67, 56, 34, 27]
emp = {'name' : LN, 'current_age' : age}
emp

{'name': ['Noah', 'Liam', 'Olivia', 'Emma', 'Oliver', 'Amelia', 'Elijah'],
 'current_age': [23, 34, 19, 67, 56, 34, 27]}

In [64]:
for k, v in emp.items():
    print('Key: '+ str(k) + 'value: ' + str(v))

Key: namevalue: ['Noah', 'Liam', 'Olivia', 'Emma', 'Oliver', 'Amelia', 'Elijah']
Key: current_agevalue: [23, 34, 19, 67, 56, 34, 27]