# Week 3 Homework
During this week, you will continue to learn about list, list comprehension, and dictionaries.  

# Question 1
### Given a list of L1 = ["A", "B", "C", "D", "E", "F"]
### - Define the list L1.
### - Enter the code for the length of list L1.

# Question 2
### Given LN = ["notice", "did", "line", "number", "left", "right", "are", "book"], determine if "line" is in list LN.
### - Define LN
### - Determine if "line" is in list LN
### - Determine if "book" is not in List LN

# Question 3
### Given Lx = ["Joe Smith", "67", "Salesman"] assign the elements to ee_name, age, ee_occupation.
### - Define Lx
### - Assign the elements to ee_name, age, ee_occupation

# Question 4
### Given emp = ["Joe Smith", "Jame Todd", "Emily True", "Penny Sage", "Amy Stuart"]
### - import the library random
### - Define the emp list
### - Use random.choice to select an employee assign it to the variable new_name
### - print new_name

# Question 5
### - Given emp = ["Joe Smith", "Jame Todd", "Emily True", "Penny Sage", "Amy Stuart"], use the enumeration method to print out the index and name of the employee.

### - Define the list emp
### - Create a for loop with index = j and item = namex.
### - print out "Employee ID = " + str(index variable) + " associated with " + namex for each iteration

# Question 6
## Given a list L1 = [3, 45, 67, 90, 12, 34, 56]. 
### - Create the L1
### - Create a list comprehension that adds 3 to each item in L1 and assign it to L6
### - Display L6

In [5]:
L1 = [3, 45, 67, 90, 12, 34, 56]
L6 = [x ** 2 + 3 for x in L1]
L6

[12, 2028, 4492, 8103, 147, 1159, 3139]

# Question 7
### Given L1 = ["Joe Smith", "Jame Todd", "Emily True", "Penny Sage", "Amy Stuart"].  Append "Hailey Young" and insert "Joseph Daniel" to index 2.  Then display the altered list.
### - Define L1
### - Append "Hailey Young"
### - Insert "Joseph Daniel" to index 2.
### - Display L1

In [6]:
L1 = ["Joe Smith", "Jame Todd", "Emily True", "Penny Sage", "Amy Stuart"]
L1.append("Hailey Young")
L1.insert(2, "Joseph Daniel")
L1

['Joe Smith',
 'Jame Todd',
 'Joseph Daniel',
 'Emily True',
 'Penny Sage',
 'Amy Stuart',
 'Hailey Young']

# Question 8
### Given L4 = [20, 31, 23, 35, 28, 31, 24, 33]
### - Define L4
### - Create a list comprehension that creates age groups "20 - 29" for ages between 20 and 29, "30 - 39" for ages between 30 and 39, "40 - 49" for ages between 40 and 49, "50 - 59" for ages between 50 and 59, otherwise "60 - 69" for ages in L4 list.

In [41]:
L4 = [20, 31, 23, 45, 48, 55, 57, 64, 65, 28, 31, 24, 33]
["20 - 29" if x < 30 else ("30 - 39"  if x < 40 else ("40 - 49" if x < 50 else ("50 - 59" if x < 60 else "60 - 69"))) for x in L4]

['20 - 29',
 '30 - 39',
 '20 - 29',
 '40 - 49',
 '40 - 49',
 '50 - 59',
 '50 - 59',
 '60 - 69',
 '60 - 69',
 '20 - 29',
 '30 - 39',
 '20 - 29',
 '30 - 39']

# Question 9
### Given "Ray" age 34, "Tom" age 56, "Kerry" age 62, "Wendy" age 45, "Samuel" age 55, "Ted" age 50.  
### - Create a dictionary named employee.  
### - List the key name : age in the dictionary. 
### - Create a list of the employee names called emp_name.  
### - Create a list of ages called emp_age.  
### - Display emp_name in a code cell.  
### - Display emp_age.

In [48]:
dict_a ={"Ray" : 34, "Tom" : 56, "Kerry" : 62, "Wendy" : 45, "Samuel" : 55, "Ted" : 50}
names = [ name for name in dict_a]
age = [x for x in dict_a.values()]

['Ray', 'Tim', 'Carol', 'Wendy', 'Samuel', 'Ted']

In [49]:
age

[34, 56, 62, 45, 55, 50]

# Question 10
### - Given "Ray" age 34, "Tom" age 56, "Kerry" age 62, "Wendy" age 45, "Samuel" age 55, "Ted" age 50.  
### - display the age for "Wendy"
### - is "Thomas" in the dictionary?

In [50]:
dict_a ={"Ray" : 34, "Tom" : 56, "Kerry" : 62, "Wendy" : 45, "Samuel" : 55, "Ted" : 50}
dict_a["Wendy"]

45

In [51]:
"Thomas" in dict_a

False