# Question 1 - Create a Series

- import the pandas library
- create a Series using the data 23, 29, 23, 24, 24, 33 and assign it to the variable s_value.
- display s_value

# Question 2 - Accessing Elements in a Series
### Given the values 66, 85, 71, 87, 75, 76, 67, 60, 66, 70 do the following:
- import the pandas library
- create a Series and assign it to the variable h_value.
- select the 8th value in h_value series and display it.
- In a new code cell, display the 4th to the 10th element in the series.

## Question 3 - Arithmetic operations in Series
### Given the values 118, 109, 102, 100, 111, 113, 105, 100, 113, 118, 109, 102, 110, 100, 119, 106, 115, 110, 108, 108 and do the following.
- import the pandas library
- create a Series and assign it to the variable j_value.
- raise j_values to the 2nd power and store in raise_v.
- diplay raise_v
- In a new code cell, multipy j_value by 10 store in multiply_v.
- display multiply_v
- In a new code cell, divide j_value by 11 and store in divide_v.
- display divide_v
- In a new code cell, add 18 to j_value and store in add_v.
- display add_v
- In a new code cell, Subtract 3 from j_value and store in sub_v.
- display sub_v

# Question 4 - Boolean values for Series
# Given the values 23,  4,  8,  2, 12,  4, 11,  6, 20, 20 and do the following.

- import the pandas library
- define the Series for the values above and assign it to variable q4_series.
- determine if the value greater than 15.
- In a new code cell, determine if the value less than 11.

# Question 5 - Dictionary to Dataframe 
Based on the Dictionary defined below, do the following

```
{"Name" : ["Tim Miller", "Ann Carter", "Ellen Lee", "Sam Carr", "Al Ball", "Carl Bell", "Amy Haul"], "Age" : [62, 60, 28, 39, 41, 22, 63], "Year of Service" : [17,  7, 12, 11, 19,  6, 14]}
```
- import the pandas library
- define the dictionary and assign it to the variable dict_data.
- Use the DataFrame using the dictionary defined above and assign it to df_data.
- Display the df_data dataframe.
- select the last 4 records using the tail method.
- select the last 4 records using a negative number.
- select the first 3 records using head method.
- select the first 3 records using brackets following the dataframe.
- select the column Age using brackets following the dataframe.

# Question 6 - Creating a dataframe from an array

## Given the random numbers in the array
```
np.random.randint(66, 96, (14, 4))
```

- import the pandas library
- import the numpy library
- create an array using the code above and store it in array_name.
- Use an array above to create a dataframe named vdata. Give the column names "c1", "c2", "c3", "c4".  
- display the dataframe vdata.

# Question 7 - Selecting rows and columns
Given the data frame from the code below using column names ["d1", "d2", "d3", "d4", "d5", "d6"]
```

pd.DataFrame(np.random.randint(66, 96, (14, 6)), columns = ...)
```

- import the pandas library.
- import the numpy library.
- Create a list of column name assign it to col_names.
- Define the dataframe above and store it in the variable df_number. 
- Display columns "d2", "d4", "d6".
- In a new code cell, select the rows 5 through 8.  Display the outcome.
- In a new code cell, select the first 7 rows.  Display the outcome.

# Question 8 - Reading in Files into a dataframe

You will enter data by reading a file.  Using pandas we can read excel, json, csv, tsv, and a number of different databases.  We will concentrate on csv files as well as code that allow use to fetch files from different data repositories.

# Reading in Excel
The Excel file is "Exam_Score_Prediction.xlsx" Read the file into a dataframe.
- import the pandas library
- load the file above into a dataframe named df_excel.
- display the first five records of the dataframe.

# Reading in a json file
The Json file is "Exam_Score_Prediction.json" Read the file into a dataframe.
- import the pandas library
- load the file above into a dataframe named df_json.
- display the first five records of the dataframe.

# Reading in a csv file
- import pandas library
- read the file "Exam_Score_Prediction.csv" into a dataframe called csv_df.
- display the first five records
- In a new code cell, display the column names for the csv_df dataframe
- In a new code cell, change the column names "age" to "Age" use inplace = True as a parameter
- In a new code cell, display uniques values in column "course" and give the counts for each unique value.
- In a new code cell, use the loc method to select those in column course with "diploma" and determine the unique count values for gender.
- In a new code cell, use the iloc method to find the rows 5 through 10 and columns 4, 3, and 8