# Week 2 - Homework

In [1]:
import random  # library you will use in this homework assignment

# Question #1 
### Write code using a for loop to print out the numbers from 0 to value assigned in your homework.

# Question 2
### Using a for loop, print the word "data" the number of times as indicated by the repeating number.

# Question 3
### Using a for loop, sum up the even numbers from 0 to 100.  Then print out the sum at the end.

# Question 4
### Write a program that assigns ", sup" to added_greeting.  Then loops through 1..n(n defined in homework).
### - print "Hey" except
### - the value is a multiple of 15.  If it is print "Hey" concatenated with added_greeting
### - if the number is a multiple of 3, print "Hi".
### - if the number is a multiple of 5 print "Hello".

# Question 5
### Given the list L = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], use slicing to display the first five elements of the list.

# Question 6

### Given the list L = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], use slicing to display the last five elements of the list.

# Question 7

### Print out all of the elements from the following list that are less than 5.

# Question 8

### Given L1 = [10, 13, 34, 47, 21, 93, 110]
### Create a list comprehension that assigns all values of L1 to list L2 that are even or greater than 50.

# Question 9
### Given L1 = [1, 2, 3, 4, 5] and L2 = [6, 7, 8, 9, 10].  Concatenate the two list so you get one list named L3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
### - Define L1
### - Define L2
### - Define L3 (spaces between symbol and list names)

# Question 10
### Given the list L1 = ["help", "me"].Â  Use the replication method to duplicate the elements of L1 5 times and assign the replicated list to the variable L4.

### - Define L1
### - Replicate L1 five times and assign it to the variable L4
### - display L4